form {
    color: #666666;
    padding: 5px;
    width: 99%;
}

#message {
    width: 99%;
    padding: 50px 75px;
    box-sizing: border-box;
}

#name {
    width: 99%;
    box-sizing: border-box;
}

#email {
    width: 99%;
    box-sizing: border-box;
}

a {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4aaaa5;
}

#hangman {
    position: relative;
    top: 20px;
    left: 10px;
}

#hngname {
    position: relative;
    left: 10px;
    bottom: 50px;
    color: #ffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    height: 40px;
    width: 200px;
    padding-top: 20px;
}

#rpggame {
    float: right;
    position: relative;
    top: -245px;
    right: 500px;
}

#rpgname {
    color: #ffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    height: 40px;
    width: 200px;
    clear: both;
    position: relative;
    bottom: 310px;
    left: 260px;
    padding-top: 20px;
}

#trvgame {
    bottom: 505px;
    clear: both;
    position: relative;
    float: right;
    right: 250px;
}

#trvname {
    color: #ffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    height: 40px;
    width: 200px;
    clear: both;
    position: relative;
    bottom: 570px;
    right: -510px;
    padding-top: 20px;
}

#wdgt {
    position: relative;
    top: -500px;
    left: 10px;
}

#wdgtname {
    color: #ffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    height: 40px;
    width: 200px;
    clear: both;
    position: relative;
    bottom: 570px;
    right: -10px;
    padding-top: 20px;

}

#RPS {
    Position: relative;
    top: -764px;
    right: -260px;
}

#RPSname {
    color: #ffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    height: 40px;
    width: 200px;
    clear: both;
    position: relative;
    top: -834px;
    right: -260px;
    padding-top: 20px;
}